@use '../../sass/mixins' as *;

.portfolio {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    gap: 0.25rem;

    @include respond('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond('mid') {
      grid-template-columns: 1fr 1fr;
    }

    @include respond('sm') {
      grid-template-columns: 1fr;
    }
  }

  .projectLabel {
    background: var(--bg-primary);
    font-size: 1.4rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    color: var(--color-light);
    min-width: 20rem;
  }

  .figure {
    width: 100%;
    padding: 2rem;
    padding-bottom: 80%;
    height: 0;
    position: relative;
    transition: transform 0.2s linear;
    backface-visibility: hidden;
    transform-origin: center;

    img,
    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      object-fit: contain;
    }

    img {
      height: 90%;
      width: 90%;
      user-select: none;
    }

    img.mobile {
      height: 85%;
    }

    .loader {
      z-index: 99;
      top: 40%;
    }
  }

  .imagesList {
    margin: 0 auto;
    max-width: var(--modal-content-max-width);
    padding-bottom: 5rem;
  }

  .modalContent {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .figure {
      background: none;
      padding: initial;
      padding-bottom: 60%;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    img {
      height: auto;
      width: 100%;
      top: 10vh;
      transform: translateX(-50%);
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    color: var(--color-light);
    z-index: 12;

    span {
      font-size: 1.6rem;
      font-family: var(--font-secondary);
      position: relative;
      z-index: 1;
      font-weight: 400;
      color: var(--color-light);

      @supports (background-clip: text) {
        background: #fff;
        background-clip: text;
        color: transparent;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--bg-dark);
      z-index: -1;
    }
  }

  .label,
  .link {
    position: absolute;
    z-index: 13;
    visibility: hidden;
  }

  .link {
    padding: 1rem;
    background: var(--bg-primary);
    top: 0.2rem;
    right: 0.2rem;
    width: max-content;

    svg:first-of-type {
      margin-right: 0.5rem;
    }

    @include respond('mid') {
      visibility: visible;
    }
  }

  .label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgba(#fff, 0.3);
    font-family: var(--font-secondary);
    font-weight: 300;
  }

  .item {
    width: 100%;
    position: relative;
    overflow: hidden;

    &.loaded:hover .figure,
    &.loaded.active figure {
      transform: scale(1.125);
    }

    &:hover .link,
    &:hover .label {
      visibility: visible;
    }

    &.loaded.active::after {
      opacity: 1;
      visibility: visible;
    }

    .title span {
      @include respond('tablet') {
        font-size: 1.6rem;
      }
    }

    @supports (background-clip: text) {
      &.w180gradus:hover .title span,
      &.active.w180gradus .title span {
        background-image: linear-gradient(
          45deg,
          rgba(53, 136, 243, 1) 15%,
          rgba(115, 63, 230, 1) 37%,
          rgba(237, 193, 15, 1) 74%
        );
      }

      &.sbuy:hover .title span,
      &.active.sbuy .title span {
        background-image: linear-gradient(45deg, rgba(6, 82, 221, 0.7) 15%, rgba(255, 255, 255, 1) 74%);
      }

      &.holis:hover .title span,
      &.active.holis .title span {
        background-image: linear-gradient(45deg, rgba(252, 206, 1, 1) 15%, rgba(255, 255, 255, 1) 74%);
      }

      &.softit:hover .title span,
      &.active.softit .title span {
        background-image: linear-gradient(45deg, #cc3391 15%, #3e4095 74%);
      }
    }
  }

  .itemContent {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-secondary);
    border: 2px solid transparent;
  }
}
