@use '../../sass/mixins' as *;

.portfolio {
  
  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
    gap: .25rem;

    @include respond('tablet') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond('mid') {
      grid-template-columns: 1fr 1fr;
    }

    @include respond('sm') {
      grid-template-columns: 1fr;
    }
  }

  .figure {
    width: 100%;
    padding: 2rem;
    padding-bottom: 80%;
    height: 0;
    position: relative;
    transition: transform .2s linear;
    backface-visibility: hidden;
    transform-origin: center;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 90%;
      width: 90%;
      z-index: 1;
      object-fit: contain;
      user-select: none;
    }

    img.mobile {
      height: 65%;
    }
  }

  .imagesList {
    margin: 0 auto;
    max-width: var(--modal-content-max-width);
    padding-bottom: 5rem;
  }

  .modalContent {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    .figure {
      background: none;
      padding: initial;
      padding-bottom: 100%;

      &:not(:last-child) {
        margin-bottom: 4rem;
        
        @include respond('tablet') {
          margin-bottom: 0;
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    color: var(--color-light);
    z-index: 12;
    
    span {
      font-size: 1.4rem;
      font-family: var(--font-secondary);
      position: relative;
      z-index: 1;
      color: var(--color-light);
      
      @supports(background-clip: text) {
        background: #fff;
        background-clip: text;
        color: transparent;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--bg-dark);
      z-index: -1;
    }
  }
  
  .label,
  .link {
    position: absolute;
    z-index: 13;
    visibility: hidden;
  }

  .link {
    padding: 1rem;
    background: var(--bg-primary);
    top: .2rem;
    right: .2rem;
    width: max-content;

    svg:first-of-type {
      margin-right: .5rem;
    }

    @include respond('mid') {
      visibility: visible;
    }
  }

  .label {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: rgba(#fff, .3);
    font-family: var(--font-secondary);
    font-weight: 300;
  }

  .item {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover .figure,
    &.active figure {
      transform: scale(1.125);
    }

    &:hover .link,
    &:hover .label {
      visibility: visible;
    }

    &.active::after {
      opacity: 1;
      visibility: visible;
    }

    &.w180gradus {
      grid-column: 1 / 3;
      grid-row: 1 / 3;

      .title span {
        font-size: 2.5rem;
        font-weight: 300;
      }

      @include respond('tablet') {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        .title span {
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
    }

    .title span {
      @include respond('tablet') {
        font-size: 1.6rem;
      }
    }

    @supports(background-clip: text) {
      &.w180gradus:hover .title span,
      &.active.w180gradus .title span {
        background-image: linear-gradient(45deg, rgba(53,136,243,1) 15%, rgba(115,63,230,1) 37%, rgba(237,193,15,1) 74%);
      }
  
      &.sbuy:hover .title span,
      &.active.sbuy .title span {
        background-image: linear-gradient(45deg, rgba(6,82,221,.7) 15%, rgba(255,255,255,1) 74%);
      }
  
      &.holis:hover .title span,
      &.active.holis .title span {
        background-image: linear-gradient(45deg, rgba(252,206,1,1) 15%, rgba(255,255,255,1) 74%);;
      }
    }
  }

  .itemContent {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-secondary);
    border: 2px solid transparent;
  }
}