.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .body { margin-bottom: 7.5rem; }
  
  .list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &:not(:last-child) { margin-bottom: 5rem; }
  }

  .item {
    display: flex;
    align-items: center;
    font-family: var(--font-secondary);
    flex-wrap: wrap;
    max-width: 100%;

    a:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  .itemContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .ctaBtn svg {
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 1rem;
  }

  .linkItem,
  .item {
    a {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-grey-opaque);
    }

    &.linkedin svg {
      fill: #0073b1;
    }

    &.telegram svg {
      fill: #2fa3d9;
    }

    &.github svg,
    &.medium svg {
      fill: #fff;
    }

    &.youtube svg {
      fill: #ff0000;
    }
  }

  .linkItem {
    display: flex;
    align-items: center;

    &:not(:last-child) { margin-bottom: 2rem; }
  }

  svg {
    fill: var(--color-grey-light);
    width: 3.25rem;
    height: 3.25rem;
    margin-right: 2rem;
  }

  .footer {
    padding-top: 2rem;
    height: max-content;
    border-top: 2px solid var(--color-grey-opaque);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    a {
      margin-bottom: .5rem;
      border-bottom: 1px solid transparent;

      &:hover,
      &:focus {
        border-color: rgba(#fff,.7);
      }
    }
  }
}
