@use '../../sass/mixins' as *;

.footer {
  position: absolute;
  bottom: 4rem;
  right: 0;
  width: var(--home-content-width);
  z-index: 1;

  span:last-child {
    color: var(--color-grey);
  }

  @include respond('mid') {
    bottom: 2rem;
  }

  .content {
    border-top: 1px solid var(--color-grey-opaque);
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 0 0;
    font-size: 1.665rem;
    color: var(--color-light);
    text-align: end;

    @include respond('tablet') {
      padding: 2rem 2rem 0 2rem;
      align-items: flex-end;
    }
  }

  .quoteWrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 4rem;

    @include respond('mid') {
      padding: 2rem;
    }

    p { width: 100%; }
  }
  
  .quote {
    width: max-content;
    font-size: 2rem;
    font-weight: 500;
    background: var(--color-grey-light);
    color: var(--bg-dark);
    max-width: 50rem;

    @include respond('desktop') {
      font-size: 1.7rem;
    }
  }
  
  .list {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 1.5rem;

    @include respond('mid') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .item {
    span { color: var(--color-grey-light); }

    svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }

    &:not(:last-child) { margin-right: 2.5rem; }

    @include respond('mid') {
      font-size: 1.8rem;
      color: var(--color-light);

      svg {
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 1.5rem;
      }
      
      &:not(:last-child) {
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    a {
      display: flex;
      align-items: center;
    }

    &:hover span {
      color: var(--color-mean-light);
    }
  }
}