@use '../../sass/mixins' as *;

.footer {
  position: absolute;
  bottom: 4rem;
  right: 0;
  width: var(--home-content-width);
  z-index: 1;

  span:last-child {
    color: var(--color-grey);
  }

  @include respond('mid') {
    bottom: 2rem;
  }

  .content {
    border-top: 1px solid var(--color-grey-opaque);
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    font-size: 1.665rem;
    color: var(--color-light);

    @include respond('mid') {
      padding-left: 2rem;
    }

    @include respond('mid') {
      align-items: flex-end;
    }
  }

  .quoteWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 4rem;

    @include respond('mid') {
      margin: 2rem;
    }
  }
  
  .quote {
    width: max-content;
    font-size: 2rem;
    font-weight: 500;
    background: var(--color-grey-light);
    color: var(--bg-dark);
    max-width: 50rem;

    @include respond('desktop') {
      font-size: 1.6rem;
    }
  }
  
  .list {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 1.5rem;

    @include respond('mid') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .item {
    span { color: var(--color-grey-light); }

    svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }

    &:not(:last-child) { margin-right: 2.5rem; }

    @include respond('mid') {
      &:not(:last-child) {
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    a {
      display: flex;
      align-items: center;
    }

    &:hover span {
      color: var(--color-mean-light);
    }
  }
}