@use '../../sass/mixins' as *;

.footer {
  position: absolute;
  bottom: 5rem;
  right: 0;
  width: var(--home-content-width);
  z-index: 1;

  span:last-child {
    color: var(--color-grey);
  }

  @include respond('mid') {
    bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 0 0;
    font-size: 1.665rem;
    color: var(--color-light);
    text-align: end;

    @include respond('tablet') {
      padding: 2rem 2rem 0 2rem;
      align-items: flex-end;
    }

    @include respond('mid') {
      flex-direction: row-reverse;
    }
  }

  .quoteWrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 5rem;

    p {
      width: 100%;
    }

    @include respond('mid') {
      padding: 2rem;
    }
  }

  .quote {
    width: max-content;
    font-size: 2rem;
    font-weight: 500;
    background: var(--color-grey-light);
    color: var(--bg-dark);
    max-width: 50rem;

    @include respond('desktop') {
      font-size: 1.7rem;
    }
  }

  .list {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 1.5rem;

    @include respond('mid') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .item {
    span {
      color: var(--color-grey-light);
    }

    svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
    }

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    @include respond('mid') {
      font-size: 1.8rem;
      color: var(--color-light);

      svg {
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 1.5rem;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    a {
      display: flex;
      align-items: center;
    }

    &:hover span {
      color: var(--color-mean-light);
    }
  }
}
