@use '../../sass/mixins' as *;

.loader {
  width: 100%;
  height: 100vh;
  background: var(--bg-primary);
  z-index: 999999;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;

  .label {
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 0 1rem;
    font-weight: 600;
  }

  .textContent {
    position: relative;
    top: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  .progress {
    width: 45rem;
    position: relative;
    border: 0.6rem solid rgba(#fff, 0.9);
    border-radius: 10rem;
    overflow: hidden;
    transition: box-shadow 0.5s ease;

    @include respond('xs') {
      width: 30rem;
    }
  }

  .indicator {
    width: 100%;
    height: 1.35rem;
    background: var(--color-secondary);
    display: block;
    transition: width 0.5s ease;
  }

  .text {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include respond('sm') {
      bottom: 15rem;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &.loaded .progress {
    box-shadow: 0 0 3rem rgba(#fff, 0.4);
  }
}
