@use '../../sass/mixins' as *;

.loader {
  width: 100%;
  height: 100vh;
  background: var(--bg-primary);
  z-index: 999999;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  
  .label {
    margin-bottom: 2rem;
    max-width: 100%;
    padding: 0 1rem;
  }
  
  .textContent {
    position: relative;
    top: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress {
    width: 40rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    color: var(--color-light);
    position: relative;

    @include respond('xs') {
      width: 30rem;
    }
  }
  
  .indicator {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 95%;
    overflow: hidden;
    animation: progress 4s linear;
    display: inline-block;
  }

  .text {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    @include respond('sm') {
      bottom: 15rem;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }
}