.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100.25%;
  height: 100vh;
  z-index: 999;
  transition: opacity .4s ease-in;
  opacity: 0;
  visibility: hidden;
  background: var(--bg-dark-transparent);

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .content {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}