@use './mixins' as *;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-secondary);
}

html {
  font-size: 62.5%;

  @include respond('desktop') {
    font-size: 56.25%;
  }

  @include respond('tablet') {
    font-size: 53.125%;
  }

  @include respond('mid') {
    font-size: 50%;
  }
}

body {
  font-size: 1rem;
  font-family: var(--font-primary);
  background: var(--bg-secondary);
  -webkit-font-smoothing: antialiased;
}

button,
input {
  border: none;
  background: none;
  
  &:focus { outline: none; }
}

a {
  border: none;
  outline: none;
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

[tabIndex="0"],
button {
  cursor: pointer;
}

[data-drag] {
  cursor: grab;
}

[data-dragging="true"] {
  cursor: grabbing;
}

ul { list-style: none; }