@use './mixins' as *;

.btn {
  font-size: 1.825rem;
  color: var(--color-light);
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  text-transform: capitalize;
  width: max-content;

  &--primary {
    padding: 1rem 2rem;
    border: 2px solid var(--color-grey-opaque);

    &:hover {
      background: var(--bg-secondary);
    }

    @include respond('mid') {
      background: var(--bg-secondary);
    }
  }

  svg {
    width: 2.15rem;
    height: 2.15rem;
  }

  &--plain {
    border-bottom: 1.5px solid var(--color-light);
    padding-bottom: 0.5rem;
  }

  &--arrow {
    svg {
      width: 0;
      transition: width 0.3s ease;
      margin-left: 0.5rem;
    }

    &:hover svg {
      width: 2.15rem;
    }

    @include respond('mid') {
      svg {
        width: 2.15rem;
      }
    }
  }
}

.type-cursor::after {
  content: '_';
  animation: cursor 1.1s infinite step-start;
}

.headline {
  display: flex;
  flex-wrap: wrap;

  span {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  span:not(:last-child)::after {
    content: '\2022';
    margin: 0 0.75rem;
    color: var(--color-grey);
    display: inline-block;
  }
}

.link {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: var(--color-grey);

  @include respond('mid') {
    font-size: 1.7rem;
    color: var(--color-grey-light);
  }

  &--pale {
    color: var(--color-grey);
  }

  &--withIcon {
    svg {
      margin-left: 0.65rem;
      width: 1.6rem;
      height: 1.6rem;
      stroke: var(--color-grey);
    }
  }

  &:hover,
  &:focus {
    color: var(--color-grey-light);

    svg {
      stroke: var(--color-grey-light);
    }
  }
}

.overlay {
  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: contrast(0.55);
    background-image: url('../../../static/images/dot.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
  }

  &--lg::after {
    width: 120%;
    height: 120%;
  }

  &--color::after {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &--hover {
    &::after {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.btn-control-group {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  z-index: 10;

  &--top {
    top: 4rem;
  }

  @include respond('tablet') {
    right: 2rem;

    &--top {
      top: 2rem;
    }
  }
}

.btn-control {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-primary);
  transition: background 0.2s linear;

  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-light);
  }

  &:hover {
    background: var(--bg-dark);
  }

  @include respond('mid') {
    width: 5rem;
    height: 5rem;

    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.indicator {
  flex-shrink: 0;
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-shadow:
    inset 0 0 0.25rem rgba(0, 0, 0, 0.2),
    0 0 1rem var(--color-success-opaque);
  background: var(--color-grey);

  @include respond('tablet') {
    width: 1.55rem;
    height: 1.55rem;
  }
}

[data-active='true'] .indicator,
.indicator--active {
  background: var(--color-success);
}

.group {
  &:not(:last-child) {
    padding-bottom: 4rem;
    margin-bottom: 5.5rem;

    @include respond('desktop') {
      margin-bottom: 3rem;
    }
  }

  & > .heading {
    margin-bottom: 4rem;
    color: var(--color-grey);
    font-weight: 400;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(#fff, 0.3);
    width: max-content;

    @include respond('desktop') {
      margin-bottom: 3rem;
    }

    @include respond('mid') {
      font-size: 1.65rem;
    }
  }
}
