@use './mixins' as *;

:root {
  --bg-primary: #131313;
  --bg-secondary: #212121;
  --bg-secondary-opaque: rgba(36,36,36,.1);
  --bg-dark: #101010;
  --bg-dark-transparent: rgba(8, 8, 8, .9);

  --header-width: 8rem;
  --header-height: 100vh;
  --small-slide-width: 30%;
  --slide-content-max-width: 70%;
  --modal-content-max-width: 65%;
  --slide-body-height: 75%;
  --home-content-width: 65%;

  --slide-transition-duration: .85s;
  
  --font-primary: 'Hack', sans-serif;
  --font-secondary: 'Ubuntu', sans-serif;

  --color-grey: rgb(137, 137, 137);
  --color-grey-opaque: rgba(132, 132, 132, 0.7);
  --color-grey-light: #c9c9c9;
  --color-primary: #ffd32a;
  --color-secondary: #2e86de;
  --color-light: #fefefe;
  --color-mean-light: #dfdfdf;
  --color-success: #A3CB38;
  --color-success-opaque: rgba(163,203,56,.45);

  @include respond('desktop') {
    --slide-content-max-width: 75%;
  }

  @include respond('tablet') {
    --home-content-width: 100%;
    --slide-content-max-width: 85%;
    --modal-content-max-width: 75%;
    --slide-transition-duration: .65s;
  }

  @include respond('mid') {
    --modal-content-max-width: 85%;
  }

  @include respond('sm') {
    --header-width: 5.5rem;
    --slide-content-max-width: 90%;
    --modal-content-max-width: 95%;
  }
}